* {
    background-color: lightseagreen;
    color: midnightblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

button {
    background-color: lightgoldenrodyellow;
    border: goldenrod;
    border-style: double;
    border-radius: 30px;
    height: 100px;
    width: 100px;
}

.heading {
    font-size: xx-large;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.meat {
    border-style: solid;
    background-color: lightseagreen;
    display: flex;
    justify-content: end;
    flex-direction: column;
    max-width: 430px;
    margin: 100px;
}

.mainBox {
    display: inline-flex;
}

#clear {
    width: 100px;
    background-color: lightcyan;
}
#sum {
    width: 100px;
}

#plus, #minus, #divide, #multiply, #sum{
    background-color: lavenderblush;
}
/*
.digits {
    flex: 1;
    max-width: 400px;
    justify-content: center;
    align-items: center;
}



.bigButtons {
    
    
}
*/

